In [1]:
import pandas as pd

In [2]:
dt = pd.Series([1,2,3,4], index=['a','b','c','d'])

In [5]:
dt.values

array([1, 2, 3, 4], dtype=int64)

In [6]:
dt.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
dt['a']

1

In [10]:
dt['a':'c']

a    1
b    2
c    3
dtype: int64

In [14]:
import pandas as pd
grads_dict = {'A':4.0, 'B':3.5, 'C':3.0,'D':2.5}
grades =pd.Series(grads_dict)

In [15]:
grades.values

array([4. , 3.5, 3. , 2.5])

In [16]:
import pandas as pd
marks = {'A': 90, 'B': 80, 'C':70, 'D':60}
mark = pd.Series(marks)

In [17]:
mark.values

array([90, 80, 70, 60], dtype=int64)

In [18]:
mark

A    90
B    80
C    70
D    60
dtype: int64

In [19]:
mark['B']

80

In [20]:
mark[2:4]

C    70
D    60
dtype: int64

In [21]:
import pandas as pd
D = pd.DataFrame({'Marks':mark,'Grades': grades})

In [22]:
D

   Marks  Grades
A     90     4.0
B     80     3.5
C     70     3.0
D     60     2.5

In [23]:
D.T

           A     B     C     D
Marks   90.0  80.0  70.0  60.0
Grades   4.0   3.5   3.0   2.5

In [24]:
D.values

array([[90. ,  4. ],
       [80. ,  3.5],
       [70. ,  3. ],
       [60. ,  2.5]])

In [25]:
D.values[2,0]

70.0

In [28]:
D.columns

Index(['Marks', 'Grades'], dtype='object')

In [29]:
D['Scaled Marks']=10*(D['Marks']/90)

In [30]:
D

   Marks  Grades  Scaled Marks
A     90     4.0     10.000000
B     80     3.5      8.888889
C     70     3.0      7.777778
D     60     2.5      6.666667

In [34]:
del D['Scaled Marks']

In [35]:
D

   Marks  Grades
A     90     4.0
B     80     3.5
C     70     3.0
D     60     2.5

In [36]:
G = D[D['Marks']<80]

In [37]:
G

   Marks  Grades
C     70     3.0
D     60     2.5

In [40]:
A = pd.DataFrame([{'a':1,'b':3},{'b':-9,'c':2}])

In [41]:
A

     a  b    c
0  1.0  3  NaN
1  NaN -9  2.0

In [42]:
A.fillna(0)

     a  b    c
0  1.0  3  0.0
1  0.0 -9  2.0

In [43]:
A.dropna

<bound method DataFrame.dropna of      a  b    c
0  1.0  3  NaN
1  NaN -9  2.0>

In [44]:
A

     a  b    c
0  1.0  3  NaN
1  NaN -9  2.0

In [45]:
A.fillna(0)

     a  b    c
0  1.0  3  0.0
1  0.0 -9  2.0

In [46]:
B = pd.Series(['a','b','c'], index=[1,3,5])

In [47]:
B[1]

'a'

In [48]:
B[1:3]

3    b
5    c
dtype: object

In [55]:
B.loc[1:3]

1    a
3    b
dtype: object

In [56]:
B.iloc[1:2]

3    b
dtype: object

In [57]:
A

     a  b    c
0  1.0  3  NaN
1  NaN -9  2.0

In [58]:
D

   Marks  Grades
A     90     4.0
B     80     3.5
C     70     3.0
D     60     2.5

In [59]:
D.iloc[2,:]

Marks     70.0
Grades     3.0
Name: C, dtype: float64

In [61]:
D.iloc[1:3]

   Marks  Grades
B     80     3.5
C     70     3.0

In [62]:
D.iloc[::-1,:]

   Marks  Grades
D     60     2.5
C     70     3.0
B     80     3.5
A     90     4.0

In [66]:
df = pd.read_csv(r'D:\covid_19_data.csv')

In [67]:
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
40800,40801,06/12/2020,Zacatecas,Mexico,2020-06-13 03:33:14,501.0,55.0,279.0
40801,40802,06/12/2020,Zakarpattia Oblast,Ukraine,2020-06-13 03:33:14,1506.0,38.0,675.0
40802,40803,06/12/2020,Zaporizhia Oblast,Ukraine,2020-06-13 03:33:14,515.0,15.0,322.0
40803,40804,06/12/2020,Zhejiang,Mainland China,2020-06-13 03:33:14,1268.0,1.0,1267.0
40804,40805,06/12/2020,Zhytomyr Oblast,Ukraine,2020-06-13 03:33:14,1013.0,17.0,527.0

In [68]:
from sklearn.impute import SimpleImputer

In [71]:
df.head(11)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
10,11,01/22/2020,Heilongjiang,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [72]:
df.drop(['SNo','Last Update'],axis=1,inplace=True)

In [73]:
df

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
0,01/22/2020,Anhui,Mainland China,1.0,0.0,0.0
1,01/22/2020,Beijing,Mainland China,14.0,0.0,0.0
2,01/22/2020,Chongqing,Mainland China,6.0,0.0,0.0
3,01/22/2020,Fujian,Mainland China,1.0,0.0,0.0
4,01/22/2020,Gansu,Mainland China,0.0,0.0,0.0
...,...,...,...,...,...,...
40800,06/12/2020,Zacatecas,Mexico,501.0,55.0,279.0
40801,06/12/2020,Zakarpattia Oblast,Ukraine,1506.0,38.0,675.0
40802,06/12/2020,Zaporizhia Oblast,Ukraine,515.0,15.0,322.0
40803,06/12/2020,Zhejiang,Mainland China,1268.0,1.0,1267.0
40804,06/12/2020,Zhytomyr Oblast,Ukraine,1013.0,17.0,527.0

In [76]:
df.rename(columns={'ObservationDate':'Date', 'Province/State':'Province','Country/Region':'Country'}, inplace=True)

In [77]:
df.head()

         Date   Province         Country  Confirmed  Deaths  Recovered
0  01/22/2020      Anhui  Mainland China        1.0     0.0        0.0
1  01/22/2020    Beijing  Mainland China       14.0     0.0        0.0
2  01/22/2020  Chongqing  Mainland China        6.0     0.0        0.0
3  01/22/2020     Fujian  Mainland China        1.0     0.0        0.0
4  01/22/2020      Gansu  Mainland China        0.0     0.0        0.0

In [78]:
df['Date']=pd.to_datetime(df['Date'])

In [79]:
df

,Date,Province,Country,Confirmed,Deaths,Recovered
0,2020-01-22,Anhui,Mainland China,1.0,0.0,0.0
1,2020-01-22,Beijing,Mainland China,14.0,0.0,0.0
2,2020-01-22,Chongqing,Mainland China,6.0,0.0,0.0
3,2020-01-22,Fujian,Mainland China,1.0,0.0,0.0
4,2020-01-22,Gansu,Mainland China,0.0,0.0,0.0
...,...,...,...,...,...,...
40800,2020-06-12,Zacatecas,Mexico,501.0,55.0,279.0
40801,2020-06-12,Zakarpattia Oblast,Ukraine,1506.0,38.0,675.0
40802,2020-06-12,Zaporizhia Oblast,Ukraine,515.0,15.0,322.0
40803,2020-06-12,Zhejiang,Mainland China,1268.0,1.0,1267.0
40804,2020-06-12,Zhytomyr Oblast,Ukraine,1013.0,17.0,527.0

In [81]:
df.describe()

           Confirmed        Deaths      Recovered
count   40805.000000  40805.000000   40805.000000
mean     7403.745448    465.412621    2728.499547
std     26483.022808   2392.737598   16413.103519
min         0.000000      0.000000       0.000000
25%        44.000000      0.000000       0.000000
50%       458.000000      7.000000      29.000000
75%      2836.000000     82.000000     570.000000
max    405843.000000  41128.000000  547386.000000

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40805 entries, 0 to 40804
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       40805 non-null  datetime64[ns]
 1   Province   22790 non-null  object
 2   Country    40805 non-null  object
 3   Confirmed  40805 non-null  float64
 4   Deaths     40805 non-null  float64
 5   Recovered  40805 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.9+ MB

In [84]:
df= df.fillna('NA')

In [85]:
df

,Date,Province,Country,Confirmed,Deaths,Recovered
0,2020-01-22,Anhui,Mainland China,1.0,0.0,0.0
1,2020-01-22,Beijing,Mainland China,14.0,0.0,0.0
2,2020-01-22,Chongqing,Mainland China,6.0,0.0,0.0
3,2020-01-22,Fujian,Mainland China,1.0,0.0,0.0
4,2020-01-22,Gansu,Mainland China,0.0,0.0,0.0
...,...,...,...,...,...,...
40800,2020-06-12,Zacatecas,Mexico,501.0,55.0,279.0
40801,2020-06-12,Zakarpattia Oblast,Ukraine,1506.0,38.0,675.0
40802,2020-06-12,Zaporizhia Oblast,Ukraine,515.0,15.0,322.0
40803,2020-06-12,Zhejiang,Mainland China,1268.0,1.0,1267.0
40804,2020-06-12,Zhytomyr Oblast,Ukraine,1013.0,17.0,527.0

In [86]:
df.head(10)

        Date   Province         Country  Confirmed  Deaths  Recovered
0 2020-01-22      Anhui  Mainland China        1.0     0.0        0.0
1 2020-01-22    Beijing  Mainland China       14.0     0.0        0.0
2 2020-01-22  Chongqing  Mainland China        6.0     0.0        0.0
3 2020-01-22     Fujian  Mainland China        1.0     0.0        0.0
4 2020-01-22      Gansu  Mainland China        0.0     0.0        0.0
5 2020-01-22  Guangdong  Mainland China       26.0     0.0        0.0
6 2020-01-22    Guangxi  Mainland China        2.0     0.0        0.0
7 2020-01-22    Guizhou  Mainland China        1.0     0.0        0.0
8 2020-01-22     Hainan  Mainland China        4.0     0.0        0.0
9 2020-01-22      Hebei  Mainland China        1.0     0.0        0.0

In [87]:
df2= df.groupby('Country')[['Country','Confirmed','Deaths','Recovered']].sum()

In [91]:
df2.head(10)

                     Confirmed   Deaths  Recovered
Country
 Azerbaijan                1.0      0.0        0.0
('St. Martin',)            2.0      0.0        0.0
Afghanistan           491513.0  10035.0    53623.0
Albania                61819.0   2200.0    41160.0
Algeria               406979.0  34862.0   214148.0
Andorra                55520.0   3086.0    33136.0
Angola                  3446.0    201.0      936.0
Antigua and Barbuda     1766.0    191.0      925.0
Argentina             631181.0  23157.0   187677.0
Armenia               341665.0   4925.0   125741.0

In [ ]:
df3 = df2[df2['Confirmed']> 100]